{% extends "dpaste/base.html" %}

{% load i18n %}
{% load url from future %}

{% block title %}About {{ site_name }}{% endblock %}
{% block headline %}About {{ site_name }}{% endblock %}
{% block dpaste_nav_about %}active{% endblock %}

{% block page %}

    <p>
        {{ site_name }} is powered by <a href="http://barttc.github.io/dpaste/">dpaste</a>,
        an open source pastebin application. You can find the source code, contribute
        to it and leave ideas on <a href="https://github.com/bartTC/dpaste">Github</a>.
        If you want to host your own version of dpaste, or like to contribute, see
        also the <a href="http://barttc.github.io/dpaste/docs/">documentation</a>.
    </p>

    <h2>Options</h2>

    <form action="/i18n/setlang/" method="post">
        Change the language:
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>

    <h2>API</h2>

    <p>dpaste provides a simple API documented in detail <a href="http://barttc.github.io/dpaste/docs/api.html">
    on this page</a>.</p>

    <code>alias dpaste="curl -F 'content=&lt;-' https://dpaste.de/api/"</code></p>


    <h2>Applications using the API:</h2>

    <ul>
        <li><a href="https://github.com/bartTC/dpasteGUI/wiki">dpasteGUI</a>, a OS X interface</li>
        <li><a href="https://github.com/bartTC/SubDpaste">a dpaste Sublime 2 plugin</a></li>
        <li><a href="http://marmalade-repo.org/packages/dpaste_de">Marmalade</a>, a Emacs plugin</li>
    </ul>

    {{ DPASTE_ABOUT_EXTRA }}

{% endblock %}
