{% load i18n %}
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <style type="text/css">
    {% include "dpaste/theme.css" %}
    </style>
    {% endblock %}
</head>
<body>


<header id="pageheader">
    <nav>
        <h1><a href="{% url "snippet_new" %}">{{ site_name }}</a></h1>
        <a href="{% url "dpaste_about" %}">{% trans "About" %}</a>
        <a href="{% url "snippet_history" %}">{% trans "History" %}</a>
        <a href="{% url "snippet_new" %}">{% trans "New snippet" %} &rarr;</a>
    </nav>
</header>

<article>
{% block page %}
    PAGE MISSING
{% endblock %}
</article>

{% block javascript %}
<script src="{{ jquery_url }}"></script>
<script>{% include "dpaste/theme.js" %}</script>
{% endblock %}

</body>
</html>
