{% load i18n %}
{% load url from future %}

<form method="post" action="" class="superenter snippet-form">
    {% csrf_token %}
    {{ snippet_form.non_field_errors }}
    {{ snippet_form.content }}
    <div class="options">
        {{ snippet_form.lexer }}
        {{ snippet_form.expires }}
        <div class="submit">
            <span class="shortcut">&#8984;+&#9166; {% trans "or" %} Ctrl+&#9166;</span>
            <input tabindex="0" type="submit"class="btn btn-primary" value="{% trans "Paste it" %}">
        </div>
    </div>
</form>
