/* ----------------------------------------------------------------------------
   Mobile
---------------------------------------------------------------------------- */

@media (max-width: 580px) {
    .form-options-expire {
        float: left;
        clear: left;
        margin-top: 10px;
    }
}
